<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Ars Futura - intern task</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
<custom-header id="header"></custom-header>
<div class="firstPart">
    <div class="container">
        <div class="imgContainer">
            <img class="nonRetina" src="pics/Hero%20&%20Header%20icons/hero-image.png" alt="ipsumImg" />
            <img class="retina" src="pics/Hero%20&%20Header%20icons/hero-image@2x.png" alt="ipsumImg" />
        </div>
        <div class="textContainer">
            <h2>Lorem ipsum.</h2>

            <p>Lorem ipsum dolor sit amet, <span>consectetur adipiscing elit</span>,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad <span>minim veniam</span>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
                Duis aute irure dolor in <span>reprehenderit in voluptate velit</span> esse cillum dolore eu fugiat
                nulla pariatur.
                <span>Excepteur sint</span>occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <button type="button" id="button" ng-click="goToElement('features')">READ MORE</button>
        </div>
    </div>
</div>
<div id="features" class="container features" ng-controller="featuresController">
    <h2>Features</h2>
    <div class="line2"></div>


    <div class="feature" ng-repeat="feature in features">
        <div class="featureContainer">
        <img src="{{feature.img}}" , alt="img">

        <h3>{{feature.title}}</h3>
        <h4>{{feature.description}}</h4>

        <div class="line"></div>
        <p>{{feature.text}}</p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<footer class="footer" id="footer" ng-controller="footerController">
    <div class="container">
        <ul>
            <li ng-repeat="media in socialMedias">
                <a href="{{media.url}}">
                    <img class="retina" src="{{media.imgRetina}}" alt="{{media.title}}">
                    <img class="notRetina" src="{{media.img}}" alt="{{media.title}}">
                </a>
            </li>
        </ul>
        <a ng-click="goToElement('header')" id="toTop">back to top↑</a>

        <p id="dev"><span>Developed</span> with <img id="heart" src="pics/footer_icons/love-icon.png" alt="<3"> by
            <span>Marko Aras</span></p>

        <p id="ars"><span>ars </span>futura</p>
    </div>
</footer>
<!-- page content -->
<script src="assets/js/build.js"></script>

</body>
</html>