@import "variables.less";

.features {
  text-align: center;
  padding-top: 4%;
  padding-bottom: 9%;
  padding-left: 5%;
  padding-right: 5%;

  h2 {
    font-size: 28px;
    padding: 0;
    margin-bottom: 6px;
  }

  .feature {
    float: left;
    background: @color-white;
    padding: 4%;
    margin: 0;
    height: 300px;
    font-size: 12px;
    width: 33%;
    display: inline-block;
    @media screen and (max-width: 690px) {
      padding: 5%;
      width: 100%;
    }

    img {
      max-height: 65px;
      margin: 5px;
    }

    h3 {
      font-size: 24px;
      font-weight: @semi-bold;
      margin: 5px;
    }

    h4 {
      font-weight: 400;
      font-style: italic;
      color: @color-secondary-red;
      margin: 8px;
    }

    p {
      font-size: 12px;
      font-weight: 550;
      margin: 5px;
    }

    .line {
      height: 1.5px;
      width: 14%;
      margin: 13px 43%;
      background-color: @color-secondary-red;
    }

  }

}

.container {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  padding: auto 0;
}

.featureContainer {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  padding: auto 0;
}

.line2 {
  height: 2.5px;
  width: 9%;
  margin-left: 45.5%;
  margin-right: 45.5%;
  background-color: @color-secondary-red;
}
