.firstPart {
  background-image: url(../../pics/Hero%20&%20Header%20icons/hero-background.png);
  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-device-pixel-ratio: 1.5){
    background-image: url(../../pics/Hero%20&%20Header%20icons/hero-background@2x.png);
  }
  background-size: cover;
  padding: 8% 17%;
  margin: 0 auto;
  color: @color-white;

  @media screen and (max-width: 1100px) {
    padding: 4% 17%;
  }

  .imgContainer {
    width: 200px;
    float: left;
    margin-right: 50px;
    border-radius: 100%;
    display: inline-block;
    border: 6px white solid;
    overflow: hidden;
    box-shadow: 0px 0px 70px 0px black;

    @media screen and (max-width: 1100px) {
      width: 40%;
      margin: 20px 30%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  h2 {
    font-weight: 600;
    font-size: 40px;
    margin: 10px;

    @media screen and (max-width: 1100px) {
      text-align: center;
    }
  }

  p {
    font-size: 14px;
    font-weight: 300;
    margin: 15px;
    margin-bottom: 30px;

    @media screen and (max-width: 1100px) {
      text-align: center;
    }

    span {
      font-weight: 700;
    }

  }

  button {
    color: @color-white;
    background-color: @color-button-dark-blue;
    font-weight: 200;
    padding: 8px 26px;
    border: none;
    border-radius: 4px;

    @media screen and (max-width: 1100px) {
      margin: 0 42%;
      padding: 4px 10px;
      font-size: 12px;
    }

  }
}