.footer {
  background: @color-primary-dark-blue;
  color: @color-white;
  height: 300px;
  margin: 0;
  padding: 10px;
  cursor: default;

  #heart {
    height: 15px;
  }

  ul {
    display: inline-block;
    margin: 15px;
    margin-left: 50px;

    li {
      width: 44px;
      display: inline-block;
      margin: 15px;
    }
  }

  #toTop {
    color: @color-white;
    text-decoration: none;
    max-width: 10%;
    margin: 40px 60px 0 0;
    display: inline-block;
    float: right;
    @media screen and (max-width: 600px) {
      text-align: center;
      margin: 10px 45%;
    }
  }

  #toTop:hover {
    padding-bottom: 4px;
    border-bottom: 1px solid @color-secondary-red;
  }

  p {
    text-align: center;
    font-size: 20px;
    font-weight: 200;

    span {
      font-weight: 600;
    }
  }

  #dev {
    margin-top: 50px;
  }

  #ars {
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 200;
  }

  #arrow{
    color: blue;
  }

}