@import "variables.less";

header {
  background: @color-primary-dark-blue;
  height: 74px;

  img {
    height: 37px;
    margin: 37/2px;
    margin-left: 25px;
  }

  span {
    font-weight: 600;
  }

  ul {
    margin: (74-35)/2px 25px;
    float: right;
    font-size: 12px;
    @media screen and (max-width: 450px){
      margin-left: 0;
      margin-right: 10px;
    }

    li {
      font-weight: 200;
      margin: 10px 20px;
      list-style: none;
      float: left;
      cursor: default;

      a {
        color: @color-white;
        text-decoration: none;
      }

      a:hover {
        padding-bottom: 4px;
        border-bottom: 1px solid @color-secondary-red;
      }

    }
  }
}

