@import "normalizer.less";
@import "variables.less";
@import "mixins.less";
@import "header.less";
@import "firstPart.less";
@import "footer.less";
@import "features.less";

* {
  margin: 0;
  padding: 0;
  .box-sizing(border-box);
}

body {
  font-family: "Source Sans Pro";
}

div.clearfix {
  clear: both;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.retina {
  display: none;
  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-device-pixel-ratio: 1.5){
    display: inherit;
  }
}

.notRetina {
  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-device-pixel-ratio: 1.5){
    display: none;
  }
}
