//There are a total of 4 colours used in this design, color-primary-dark-blue: #101724,
//color- button-dark-blue: #1E2731, color-secondary-red: #CD5741, and color-white: #FFFFFF


@color-primary-dark-blue: #101724;
@color-button-dark-blue: #333941;
@color-secondary-red: #CD5741;
@color-white: #FFFFFF;


@bold: 700;
@semi-bold: 600;
@normal: 400;
@light: 300;