<header>
    <div class="container">
        <img class="notRetina" src="pics/Hero%20&%20Header%20icons/lorem-logo.png" alt="logo">
        <img class="retina" src="pics/Hero%20&%20Header%20icons/lorem-logo.png" alt="logo">
        <ul>
            <li>
                <a ng-click="goToElement('features')">Features</a>
            </li>
            <li>
                <a ng-click="goToElement('footer')">Footer</a>
            </li>
            <li>
                <a href="http://arsfutura.co/"><span>ars</span> futura</a>
            </li>
        </ul>
    </div>
</header>